@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Comfortaa";
  font-style: normal;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 700;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* comfortaa-regular - cyrillic */
@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/comfortaa-v40-cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/comfortaa-v40-cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/comfortaa-v40-cyrillic-regular.woff2") format("woff2"), url("../fonts/comfortaa-v40-cyrillic-regular.woff") format("woff"), url("../fonts/comfortaa-v40-cyrillic-regular.ttf") format("truetype"), url("../fonts/comfortaa-v40-cyrillic-regular.svg#Comfortaa") format("svg"); /* Legacy iOS */
}
/* comfortaa-500 - cyrillic */
@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/comfortaa-v40-cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/comfortaa-v40-cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/comfortaa-v40-cyrillic-500.woff2") format("woff2"), url("../fonts/comfortaa-v40-cyrillic-500.woff") format("woff"), url("../fonts/comfortaa-v40-cyrillic-500.ttf") format("truetype"), url("../fonts/comfortaa-v40-cyrillic-500.svg#Comfortaa") format("svg"); /* Legacy iOS */
}
/* comfortaa-600 - cyrillic */
@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/comfortaa-v40-cyrillic-600.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/comfortaa-v40-cyrillic-600.eot?#iefix") format("embedded-opentype"), url("../fonts/comfortaa-v40-cyrillic-600.woff2") format("woff2"), url("../fonts/comfortaa-v40-cyrillic-600.woff") format("woff"), url("../fonts/comfortaa-v40-cyrillic-600.ttf") format("truetype"), url("../fonts/comfortaa-v40-cyrillic-600.svg#Comfortaa") format("svg"); /* Legacy iOS */
}
/* comfortaa-700 - cyrillic */
@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/comfortaa-v40-cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/comfortaa-v40-cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/comfortaa-v40-cyrillic-700.woff2") format("woff2"), url("../fonts/comfortaa-v40-cyrillic-700.woff") format("woff"), url("../fonts/comfortaa-v40-cyrillic-700.ttf") format("truetype"), url("../fonts/comfortaa-v40-cyrillic-700.svg#Comfortaa") format("svg"); /* Legacy iOS */
}
.title {
  font-size: 60px;
  line-height: 230%;
  text-align: center;
}

.wrap {
  max-width: 1310px;
  margin: 0 auto;
  position: relative;
}

.wrap-small {
  max-width: 1082px;
  margin: 0 auto;
}

body {
  font-family: "Comfortaa";
  font-style: normal;
  background: #131519;
  position: relative;
}

.bg-one {
  background: url(../img/preview__bg.png) repeat-x center top, #131519;
  background-size: 1600px;
}
@media (max-width: 428px) {
  .bg-one {
    background-size: 300%;
  }
}

.bg-two {
  background: url(../img/bonus__bg.png) no-repeat center top, #191B20;
  background-size: cover;
}

.bg-three {
  background: url(../img/three__bg.jpg) center center no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.bg-four {
  background: url(../img/bg__four.png) top center no-repeat, #131519;
  background-size: auto 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 34px 25px 0 25px;
  margin-bottom: 58px;
}
.header .logo {
  max-width: 176px;
  max-height: 45px;
}
.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.header .menu li {
  margin-right: 30px;
}
.header .menu li a {
  color: white;
  text-decoration: none;
}
.header .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.header .links a {
  color: white;
  text-decoration: none;
  margin-right: 30px;
  line-height: 273%;
  border: 2px solid #FFFFFF;
  padding: 0 22px;
  border-radius: 43.6842px;
}
.header .links a:last-child {
  border-color: #FFB80D;
  color: #FFB80D;
}
@media (max-width: 840px) {
  .header .menu {
    display: none;
  }
  .header .links {
    display: none;
  }
}

.preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
@media (max-width: 428px) {
  .preview {
    padding: 12% 0 0 0;
  }
}
.preview .preview__img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}
@media (min-width: 1024px) {
  .preview .preview__img {
    margin-left: -72px;
  }
}
.preview .preview__bloc {
  max-width: 630px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
}
.preview .preview__bloc .preview__title {
  font-size: 47px;
  line-height: 150%;
  margin-bottom: 14px;
}
@media (max-width: 428px) {
  .preview .preview__bloc .preview__title {
    margin-bottom: 9px;
  }
}
.preview .preview__bloc .preview__title big {
  font-weight: 500;
  font-size: 110px;
  line-height: 150%;
}
.preview .preview__bloc .preview__subtitle {
  font-size: 37px;
  line-height: 140%;
  color: #FFB80D;
  margin-bottom: 50px;
}
@media (max-width: 428px) {
  .preview .preview__bloc .preview__subtitle {
    margin-bottom: 33px;
  }
}
.preview .preview__bloc .preview__linck {
  display: block;
  margin: 0 auto;
  text-align: center;
  line-height: 230%;
  font-size: 22px;
  color: #191B20;
  background: #FFB80D;
  border-radius: 67px;
  padding: 3px 40px;
  width: 171px;
}
@media (max-width: 428px) {
  .preview .preview__bloc .preview__linck {
    margin-bottom: 56px;
  }
}
@media (max-width: 428px) {
  .preview .preview__bloc .preview__title {
    font-size: 28px;
    line-height: 150%;
  }
  .preview .preview__bloc .preview__title big {
    font-size: 65px;
    line-height: 150%;
  }
  .preview .preview__bloc .preview__subtitle {
    font-size: 21px;
    line-height: 140%;
  }
}

.block {
  position: relative;
  padding: 145px 0 125px 0;
}
.block .register::before {
  content: "";
  left: -44px;
  display: block;
  position: absolute;
  background: url(../img/svg/arrow__register.svg) no-repeat;
  width: 26px;
  height: 26px;
}
.block .register {
  position: absolute;
  padding: 19px 0 0 0;
  right: 0;
  top: 0;
  display: block;
  font-size: 19px;
  line-height: 160%;
  text-align: center;
  color: #C4C9D3;
  max-width: 280px;
}
@media (max-width: 768px) {
  .block .register {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 100%;
  }
}
.block .banner {
  max-width: 1103px;
  margin: 0 auto;
  border: 3px solid #FFB80D;
  border-radius: 20px;
  padding: 32px 0 32px 52px;
  position: relative;
  margin-bottom: 70px;
}
.block .banner .banner__text {
  display: inline-block;
  max-width: 682px;
  font-weight: 700;
  font-size: 43px;
  line-height: 120%;
  color: #FFB80D;
}
.block .banner .banner__image {
  max-width: 318px;
  max-height: 234px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: -41px;
  right: 30px;
}
.block .cards .cards__title {
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  line-height: 120%;
  color: #FFB80D;
  margin-bottom: 30px;
}
.block .cards .cards__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1060px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60px;
}
.block .cards .cards__block .cards__item .card__image {
  -o-object-fit: cover;
     object-fit: cover;
}
.block .cards .cards__block .cards__item .card__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 300%;
  color: #fff;
}
.block .cards .cards__block .cards__item .card__item {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 300%;
}
.block .cards .cards__block .cards__item .card__item span {
  color: #676d79;
}
.block .cards .cards__block .cards__item .green {
  color: rgb(5, 212, 5);
  line-height: 600%;
}
.block .cards .cards__block .cards__item .card__link {
  padding: 12px 28px;
  border: 2px solid #C4C9D3;
  border-radius: 54px;
  font-weight: 700;
  font-size: 17.3158px;
  line-height: 135%;
  color: #C4C9D3;
}
.block .cards .cards__block .cards__item .card__link:hover {
  color: #131519;
  border: 2px solid #fff;
  background: #fff;
}

.referal {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 55px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}
.referal .referal__block {
  max-width: 600px;
}
.referal .referal__block .referal__title {
  font-size: 47px;
  line-height: 120%;
  color: #fff;
  margin-bottom: 41px;
  padding-top: 10px;
}
.referal .referal__block .referal__text {
  color: #C4C9D3;
  font-size: 20px;
  line-height: 170%;
  margin-bottom: 60px;
}
.referal .referal__block .referal__subtitle {
  font-size: 34px;
  line-height: 120%;
  color: #fff;
  margin-bottom: 28px;
}
.referal .referal__block .referal__image {
  -o-object-fit: cover;
     object-fit: cover;
}
.referal .referal__block .referal__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
@media (max-width: 1024px) {
  .referal .referal__block .referal__links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.referal .referal__block .referal__links a {
  color: white;
  text-decoration: none;
  margin-right: 30px;
  line-height: 273%;
  border: 2px solid #FFFFFF;
  padding: 0 22px;
  border-radius: 43.6842px;
}
.referal .referal__block .referal__links a:last-child {
  border-color: #FFB80D;
  color: #FFB80D;
}
.referal .referal__block:last-child {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.referal::after {
  content: "";
  width: 1260px;
  height: 754px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: url(../img/referal__bg.png) no-repeat center center;
  background-size: cover;
  z-index: -1;
}

h1.title {
  color: #fff;
  font-size: 60px;
  line-height: 510%;
  text-align: center;
}

.cards.bunus-page .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  background: #202126;
  border: 1px solid rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  padding: 32px 91px 32px 46px;
  margin-bottom: 70px;
}
.cards.bunus-page .card .card__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  max-width: 140px;
}
.cards.bunus-page .card .card__title b {
  font-size: 115.495px;
  line-height: 0.001%;
}
.cards.bunus-page .card .card__subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  max-width: 350px;
}
.cards.bunus-page .card .card__subtitle span {
  color: #F5BB40;
}
.cards.bunus-page .card .card__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #C3C9D4;
  max-width: 530px;
}
.cards.bunus-page .card .card__text span {
  color: #FFFFFF;
}
.cards.bunus-page .card:last-child {
  margin-bottom: 90px;
}

.block-bonus.head {
  position: relative;
  background: #35363A;
  border-radius: 20px;
  padding: 44px 68px 47px 46px;
  margin-bottom: 100px;
}
.block-bonus.head .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}
.block-bonus.head .block-bonus__item .block-bonus__title {
  font-size: 34px;
  line-height: 135%;
  color: #FFB80D;
  max-width: 510px;
}
.block-bonus.head .block-bonus__item .block-bonus__text {
  font-size: 26px;
  line-height: 180%;
  color: #FFFFFF;
  max-width: 550px;
}
.block-bonus.head .block-bonus__item .block-bonus__img {
  position: absolute;
  top: 30%;
  left: 45%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.block-bonus.foot {
  padding: 0 0 128px 0;
}
.block-bonus.foot .block-bonus__text {
  font-size: 22px;
  line-height: 230%;
  text-align: center;
  color: #C3C9D4;
}
.block-bonus.foot .block-bonus__text span {
  color: #FFB80D;
}
.block-bonus.foot .block-bonus__text:nth-child(2) {
  margin-bottom: 63px;
}
.block-bonus.foot .block-bonus__text:nth-child(3) {
  font-size: 16px;
  line-height: 190%;
  max-width: 470px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.block-bonus.foot .block-bonus__link {
  display: block;
  max-width: 253px;
  padding: 10px 40px;
  border: 3.39726px solid #FFB80D;
  border-radius: 76.4384px;
  font-size: 18px;
  line-height: 230%;
  margin: 0 auto;
  color: #FFB80D;
}

.register, .login {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-content: center;
}
.register .register__title,
.register .login__title, .login .register__title,
.login .login__title {
  width: 100%;
  color: #fff;
  -ms-grid-column-span: 2;
  grid-column: span 2;
  font-size: 50px;
  line-height: 230%;
  text-align: center;
  margin-bottom: 50px;
}
@media (max-width: 428px) {
  .register .register__title,
.register .login__title, .login .register__title,
.login .login__title {
    font-size: 30px;
    line-height: 230%;
  }
}
.register .login__form,
.register .register__form, .login .login__form,
.login .register__form {
  max-width: 460px;
  margin: 0 auto;
  width: 100%;
}
.register .login__form .form,
.register .register__form .form, .login .login__form .form,
.login .register__form .form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.register .login__form .form label,
.register .register__form .form label, .login .login__form .form label,
.login .register__form .form label {
  font-size: 17px;
  line-height: 145%;
  color: #fff;
  margin-bottom: 5px;
  width: 100%;
}
.register .login__form .form input,
.register .register__form .form input, .login .login__form .form input,
.login .register__form .form input {
  width: 100%;
  background: #1C1E22;
  border: 1px solid rgba(255, 255, 255, 0.29);
  border-radius: 8px;
  height: 65px;
  margin-bottom: 20px;
  padding: 2px 10px;
  font-size: 28px;
  color: #fff;
}
.register .login__form .form input[type=email],
.register .register__form .form input[type=email], .login .login__form .form input[type=email],
.login .register__form .form input[type=email] {
  margin-bottom: 34px;
}
.register .login__form .form .captcha,
.register .register__form .form .captcha, .login .login__form .form .captcha,
.login .register__form .form .captcha {
  margin-bottom: 25px;
  max-width: 375px;
  width: 100%;
  margin: 0 auto 25px auto;
}
.register .login__form .form input[type=checkbox],
.register .register__form .form input[type=checkbox], .login .login__form .form input[type=checkbox],
.login .register__form .form input[type=checkbox] {
  width: 21px;
  height: 21px;
  background: #1C1E22;
  border: 1px solid rgba(255, 255, 255, 0.29);
  border-radius: 3px;
}
.register .login__form .form samp,
.register .register__form .form samp, .login .login__form .form samp,
.login .register__form .form samp {
  font-size: 17px;
  line-height: 230%;
  text-align: center;
  color: #C4C9D3;
  margin-bottom: 26px;
}
@media (max-width: 425px) {
  .register .login__form .form samp,
.register .register__form .form samp, .login .login__form .form samp,
.login .register__form .form samp {
    font-size: 14px;
    line-height: 230%;
  }
}
.register .login__form .form button,
.register .register__form .form button, .login .login__form .form button,
.login .register__form .form button {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 230%;
  text-align: center;
  color: #191B20;
  background: #FFBB00;
  border-radius: 68px;
  padding: 7px 0;
  margin-bottom: 40px;
}
.register .login__form .form a,
.register .register__form .form a, .login .login__form .form a,
.login .register__form .form a {
  font-size: 22px;
  line-height: 230%;
  text-align: center;
  color: #FFBB00;
}
.register .register__block, .login .register__block {
  border: 3px solid #FFB80D;
  border-radius: 20px;
  width: 390px;
  height: 360px;
  margin: 30px auto;
}
.register .register__block .register__images, .login .register__block .register__images {
  display: block;
  margin: 0 auto;
  margin-bottom: 16px;
  margin-top: -24%;
}
.register .register__block .register__subtitle, .login .register__block .register__subtitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 145%;
  text-align: center;
  color: #FFB80D;
  max-width: 350px;
  margin: 0 auto;
}
@media (max-width: 850px) {
  .register .register__block:last-child, .login .register__block:last-child {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 435px;
  height: 406px;
  max-width: 435px;
}

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 118px 0;
}
.about-us .about-us__block {
  max-width: 568px;
}
.about-us .about-us__block .block__image {
  position: relative;
  width: 100%;
  height: 100%;
}
.about-us .about-us__block .block__image img {
  display: block;
  width: 100%;
  position: absolute;
}
@media (min-width: 768px) {
  .about-us .about-us__block .block__image img {
    right: 0;
  }
}
.about-us .about-us__block .block__title {
  font-size: 47px;
  line-height: 120%;
  color: #FFFFFF;
  max-width: 568px;
  margin-bottom: 41px;
}
.about-us .about-us__block .block__subtitle {
  font-size: 20px;
  line-height: 170%;
  color: #C4C9D3;
}
@media (min-width: 768px) {
  .about-us .about-us__block:nth-child(3) .block__image img {
    left: 0;
  }
}
.about-us .about-us__block:nth-child(1),
.about-us .about-us__block:nth-child(2) {
  margin-bottom: 87px;
}
.about-us .about-us__block:last-child {
  padding-top: 28px;
}
.about-us .about-us__block:nth-child(4) .block__subtitle {
  margin-bottom: 78px;
}
.about-us .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  margin: 0 auto;
}
.about-us .links a {
  color: white;
  text-decoration: none;
  margin-right: 30px;
  line-height: 273%;
  border: 2px solid #FFFFFF;
  padding: 0 22px;
  border-radius: 43.6842px;
}
.about-us .links a:last-child {
  border-color: #FFB80D;
  color: #FFB80D;
}

@media (max-width: 1002px) {
  .about-us .about-us__block .block__title {
    font-size: 30px;
    line-height: 120%;
  }
  .about-us .about-us__block .block__subtitle {
    font-size: 16px;
    line-height: 170%;
  }
  .about-us .about-us__block .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .about-us .about-us__block .links a {
    color: white;
    text-decoration: none;
    margin-right: 30px;
    line-height: 273%;
    border: 2px solid #FFFFFF;
    padding: 0 22px;
    border-radius: 43.6842px;
  }
  .about-us .about-us__block .links a:last-child {
    border-color: #FFB80D;
    color: #FFB80D;
  }
  .about-us .about-us__block:nth-child(3) .block__image img {
    left: 0;
  }
  .about-us .about-us__block:nth-child(1),
.about-us .about-us__block:nth-child(2) {
    margin-bottom: 87px;
  }
  .about-us .about-us__block:last-child {
    padding-top: 28px;
  }
  .about-us .about-us__block:nth-child(4) .block__subtitle {
    margin-bottom: 78px;
  }
  .about-us .about-us__block:nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .about-us .about-us__block:nth-child(2) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .about-us .about-us__block:nth-child(3) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .about-us .about-us__block:nth-child(4) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .about-us .links {
    margin-top: 50px;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}